* {
    margin: 0px;
    padding: 0px 0px;
}

body {
    padding: 0px;
}

.header {
    max-width: 100%;
    height: 150px;
    background-color: rgb(159, 226, 92);

}

.header-text {
    align-items: center;
    padding-top: 75px;
}

.bg-text {
    padding-top: 200px;
    text-align: center;
    align-items: center;
}

p {
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
}

.about {
    display: flex;
    justify-content: center;
}

.bg {
    width: 100%;
    height: 550px;
    background-color: burlywood;
}

.ittem {
    display: flex;
    width: 1170px;
    height: 530px;
    background-color: #dc707c;
}

.card {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.bg-bloc {
    width: 100%;
    height: 468px;
    background-color: #363636;
    display: flex;
    justify-content: center;
}

.item {
    width: 360px;
    height: 350px;
    background-color: #363636;
    margin-left: 23px;
    justify-content: space-between;

}
.items {
    width: 360px;
    height: 350px;
    background-color: #808080;
    margin-left: 10px;
    justify-content: space-between;

}

.item-text{
    padding-top: 160px;

}

.text {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.ittem {
    display: flex;
}

.ittem {
    padding: 24px;
}

.cards {
    display: flex;
    align-items: center;
}

.reviews {
    display: flex;
    justify-content: center;
}

.reviews-text {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.reviews-bg {
    display: flex;
    width: 1170px;
    height: 468px;
    background-color: #dc707c;
}

.orang {
    display: flex;
    align-items: center;
}

.reviews-min {
    width: 1170px;
    height: 300px;
    background-color: rgba(210, 105, 30, 0.719);
}

.reviews-min p{
    padding-top: 140px;
}

.footer-bg {
    width: 100%;
    height: 400px;
    background-color: rgb(21, 128, 21);
}
.footer-text {
 
    padding-top: 200px;
}
footer p{
    color: rgb(255, 255, 255);
}



.about{
    margin: 20px 30px 40px 20px ;
}